!! rxvt-unicode settings

! icon
URxvt.iconFile: /usr/share/icons/Adwaita/512x512/apps/utilities-terminal.png

! font
Urxvt.letterSpace: -2
URxvt.font: \
    xft:DejaVuSansMono Nerd Font:size=12:antialias=true:hinting=true, \
    xft:Source Han Code JP:size=12:style=normal:antialias=true:hinting=true, \
    xft:Noto Color Emoji

! xterm emulation
URxvt.termName: screen-256color
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~

! extension
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,xim-onthespot

! first disable Keycap Picture insert mode
URxvt.iso14755: false
URxvt.iso14755_52: false

! url-opener
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! xim
URxvt.inputMethod: uim
URxvt.preeditType: OnTheSpot
URxvt.perl-ext: xim-onthespot

! shell
URxvt.loginShell: true

! urxvt
URxvt.scrollBar_right: true
URxvt.cursorBlink: false
URxvt.geometry: 100x32
URxvt.saveLines: 10000

! color
URxvt.depth: 32
URxvt.inheritPixmap: true

#define base00 #272822
#define base01 #383830
#define base02 #49483e
#define base03 #75715e
#define base04 #a59f85
#define base05 #f8f8f2
#define base06 #f5f4f1
#define base07 #f9f8f5
#define base08 #f92672
#define base09 #fd971f
#define base0A #f4bf75
#define base0B #a6e22e
#define base0C #a1efe4
#define base0D #66d9ef
#define base0E #ae81ff
#define base0F #cc6633

URxvt.foreground:   base05
URxvt.background:   base00
URxvt.cursorColor:  base05

URxvt.color0:       base00
URxvt.color1:       base08
URxvt.color2:       base0B
URxvt.color3:       base0A
URxvt.color4:       base0D
URxvt.color5:       base0E
URxvt.color6:       base0C
URxvt.color7:       base05

URxvt.color8:       base03
URxvt.color9:       base08
URxvt.color10:      base0B
URxvt.color11:      base0A
URxvt.color12:      base0D
URxvt.color13:      base0E
URxvt.color14:      base0C
URxvt.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
URxvt.color16:      base09
URxvt.color17:      base0F
URxvt.color18:      base01
URxvt.color19:      base02
URxvt.color20: base04
URxvt.color21: base06

