[core]
	editor = vim
	excludesfile = /home/atnanasi/.gitignore_global
[user]
	name = Atnanasi
	email = ys2000pro@gmail.com

[gui]
	fontui = -family Noto Sans CJK JP -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = family Noto Sans CJK JP -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	spellingdictionary = none

[ghq]
	root = ~/Projects

[ghq "https://github.com/"]
	vcs = git

