[user]
	name = Atnanasi
	email = ys2000pro@gmail.com

[gui]
	fontui = -family Nasu -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Nasu -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	spellingdictionary = none

[ghq]
	root = ~/Projects

[ghq "https://github.com/"]
	vcs = git

[url "git@github.com:atnanasi"]
	insteadOf= https://github.com/atnanasi
