[user]
	name = Atnanasi
	email = ys2000pro@gmail.com
[gui]
	fontui = -family \"Migu 1P\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Migu 1P\" -size 10 -weight normal -slant roman -underline 0 -overstrike 0
