URxvt.iconFile: /usr/share/icons/nuoveXT2/128x128/apps/terminal.png
URxvt.font: xft:NasuM:pixelsize=20:antialias=true
URxvt.perl-ext-common: default,tabbedex,matcher,xim-onthespot
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.inputMethod: uim
URxvt.preeditType: OnTheSpot
urxvt.shading: 40
URxvt.inheritPixmap: true
urxvt.depth: 32
urxvt.foreground: rgba:eeee/eeee/eeee/ffff
urxvt.background: rgba:1111/1111/1111/dddd
URxvt.letterSpace: -8
URxvt.tabbed.new-button: true
