! ######################################
! #.Xresources - X-application settings#
! # atnanasi/dotfiles                  #
! ######################################

! URxvt settings

! extensions
URxvt.perl-ext-common: default,matcher,xim-onthespot

! for clickable url
URxvt.url-launcher: /usr/bin/xdg-open

! which click
URxvt.matcher.button: 1

! for xim OnTheSpot
URxvt.preeditType: OnTheSpot

! for sukesuke
urxvt.shading: 40

! for sukesuke
URxvt.inheritPixmap: true

! color depth
urxvt.depth: 32

###HOSTCONF###
